[Desktop Entry]
Name=COSMIC Color Picker
Exec=cosmic-color-picker %F
Terminal=false
Type=Application
StartupNotify=true
Icon=io.github.pixeldoted.cosmic-color-picker
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
